@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
  scroll-behavior: smooth;
}

input[type="text"], input[type="number"], input[type="email"]
{
  all: unset;
  height: 40px;
  width: 100%;
  border-bottom: 1.5px solid white;
  font-size: 24px;
  color: white
} 
input::placeholder {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.speaker-container{
  width: 150px;
  height: 150px;
  background-color: #B9FCB3;
  }

     
.speaker-img{

  background-image: url(./assets/headshot.svg);
  background-size: cover;
  }

  .speaker-img:hover {
  opacity: 70%;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
  }

 

  @layer components {
    .section {
      @apply  px-5 py-14 md:px-4 md:py-14 lg:py-32 lg:px-40  
      }
      .section--col{
        @apply flex flex-col gap-y-10 md:gap-y-16
      }
      .section--x-scrollable {
        @apply  pl-5 pr-0 py-14 md:section 

        
      }
    }


  