@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.speaker-container{
  width: 150px;
  height: 150px;
  background-color: #B9FCB3;
  }

     
.speaker-img{
  height: 100%;
  width:100%;
  background-image: url(./assets/headshot.svg);
  background-size: cover;

  }
  .speaker-img:hover {
  opacity: 70%;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
  }

  .svg {
    position: absolute;
    width: 0;
    height: 0;
  }

  @layer components {
    .section {
      @apply  px-5 xl:px-40 lg:px-36 md:px-32 md:py-12 gap-y-16 
      }
      .section--x-scrollable {
        @apply  pl-5 pr-0 xl:px-40 lg:px-36 md:px-32 md:py-12 gap-y-16 

        
      }
    }


  