@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


* {
  scroll-behavior: smooth;
}

li, ul{
  list-style-type: none;

}

input[type="text"], input[type="number"], input[type="email"]
{
  all: unset;
  height: 40px;
  width: 100%;
  border-bottom: 1.5px solid white;
  font-size: 24px;
  color: white
} 
input::placeholder {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

  @layer components {
    .button {
      @apply flex items-center justify-center uppercase cursor-pointer rounded-full border-[1px] gap-4 font-semibold
    }
    .button-sm{
      @apply button text-sm py-1.5
    }
    .button-base{
      @apply button text-base px-4 py-1.5 
    }
    .button-lg{
      @apply button text-lg 
    }
    .button-xl{
      @apply button text-xl px-[18px] py-1.5
    }
    .button-2xl{
      @apply button text-2xl px-6 py-2 
    }
    .button-3xl{
      @apply button text-3xl 
    }

    .section {
      @apply  px-5 py-14 md:px-4 md:py-14 lg:py-32 lg:px-40 
      }
    .section--col{
        @apply flex flex-col gap-y-10 md:gap-y-16
      }
    .section--x-scrollable {
        @apply  pl-5 pr-0 py-14 md:section 
      }

    .speaker{
      @apply relative flex w-[303px] aspect-square justify-center items-center cursor-default
       }
    .speaker{
        background-image: var(--imagePath);
       }
    .speaker--hover{
        background-image: none;
        background-color: var(--background-color);
       }
    .speaker-mask{
        mask-size: 271px;
        mask-position: center;
      }
      .speaker-mask{
        @apply absolute w-[303px] aspect-square [mask-repeat:no-repeat] opacity-70
      }
    }


  